/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Estilizar o botão de voltar */
.button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilizar título e conteúdo */
h1 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Estilos do rodapé */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil no topo do rodapé */
    position: fixed; /* Fixa na parte inferior da tela */
    bottom: 0;
    left: 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
