/* Estilização do Botão */
button {
    margin: 20px;
}

button:hover {
    margin: 20px;
}

button:active {
    margin: 20px;
}

/* Estilização do Input */
.upload-box {
    border: 2px dashed #0d6efd;
    border-radius: 8px;
    padding: 20px;
    background: #f1f8ff;
    margin-bottom: 20px;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.upload-box:hover {
    background: #e7f2ff;
    border-color: #0056b3;
}

input[type="file"] {
    display: none;
}

label {
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.file-name {
    color: #25b645;
    font-weight: bold;
    display: block;
}

/* Spinner */
.spinner {
    display: none;
    margin: 20px auto 0;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0d6efd;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}