<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="container">
    <h1 class="title">Oops! Página não encontrada (404)</h1>
    <p class="error-message">A página que você está procurando não existe. Clique no botão abaixo para voltar à página inicial.</p>
    <a href="/" class="button">Voltar à página inicial</a>
    {% include 'footer.html' %}
</body>
</html>
