<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <script src="{% static 'js/redirect-home.js' %}"></script>
    <script src="{% static 'js/dark-mode.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Oops! Página não encontrada (404)</h1>
        <p class="error-message">A página que você está procurando não existe. Clique no botão abaixo para ir à página inicial.</p>
        <!-- Botão para ir ao Inicio -->
        <button onclick="redirectToHome()" class="button">Realizar Transcrição</button>
        {% include 'footer.html' %}
    </div>
</body>
</html>
