<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    <script src="{% static 'js/dark-mode.js' %}"></script>
    <script src="{% static 'js/upload-file.js' %}"></script>
    <title>Transkritor</title>
</head>
<body>
    <!-- Botão para alternar modo escuro -->
    <button id="darkModeToggle" class="dark-mode-toggle" title="Modo Escuro" onclick="toggleDarkMode()">🌙</button>

    <div class="container">
        <h1>Transcrição de Áudio</h1>
        <p>Faça upload do seu arquivo de áudio para obter a transcrição.</p>
        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data" onsubmit="showSpinner()">
            {% csrf_token %}
            <!-- Caixa de Upload -->
            <div class="upload-box">
                <input type="file" id="audio_file" name="audio_file" accept="audio/*" onchange="updateFileName()">
                <label for="audio_file" id="uploadLabel">Clique aqui ou arraste o arquivo</label>
                <span class="file-name" id="fileName"></span>
            </div>
            <!-- Spinner -->
            <div class="spinner" id="spinner"></div>
            <!-- Botão de Transcrição -->
            <button id="transcribeButton" type="submit">Transcrever</button>
        </form>
        {% include 'footer.html' %}
    </div>
</body>
</html>
