<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/transcribed-text.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    <script src="{% static 'js/copy-text.js' %}"></script>
    <script src="{% static 'js/redirect-home.js' %}"></script>
    <script src="{% static 'js/dark-mode.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Transkritor</title>
</head>
<body>
    <!-- Botão para alternar modo escuro -->
    <button id="darkModeToggle" class="dark-mode-toggle" title="Modo Escuro" onclick="toggleDarkMode()">🌙</button>

    <div class="container">
        <!-- Ícone e texto de copiar no canto superior direito -->
        <div id="copyStatus" class="copy-status" onclick="copyText()">
            <i class="fas fa-copy"></i> Copiar
        </div>

        <!-- Conteúdo principal -->
        <h1>Transcrição de Áudio</h1>
        <p class="extracted-message">
            {% if texto_recebido %}
                {{ texto_recebido }}
            {% else %}
                Nenhum texto foi transcrito. Por favor, tente novamente.
            {% endif %}
        </p>
        <!-- Botão para voltar -->
        <button onclick="redirectToHome()" class="button">Realizar Nova Transcrição</button>
        {% include 'footer.html' %}
    </div>
</body>
</html>
